<html>
    <body>

<div class="">
    <nav class="navbar navbar-expand-md" style="background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgba(100, 148, 237, 0.726)); background-color: rgb(255, 255, 255);">
        <a style="color: rgb(9, 119, 221);" href="{% url 'home' %}" class="navbar-brand d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor"
                stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2"
                viewBox="0 0 24 24" focusable="false">
                <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z" />
                <circle cx="12" cy="13" r="4" /></svg>
            <strong style=" font-family: play;">Gallery</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                        <a style=" font-family: exo; font-size: 17px;" class="nav-link" href="admin/gallery/image/add"><img src="https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/add-128.png" style="height: 15px;"> Add Image</a>
                </li>


            </ul>
            
            <form style=" font-family: exo; font-size: 17px;" class="form-inline my-2 my-lg-0" action="{% url 'search_results' %}">
                <input style="height: 33px; background-color: rgba(212, 212, 212, 0.411);;" class="form-control mr-sm-2" type="search" placeholder="Search Category" aria-label="Search"
                    name="pictures">
                <button style="height: 33px;" class="btn btn-outline-primary my-2 my-sm-0" type="submit">SEARCH</button>
            </form>
        </div>
    </nav>
</div>
</body>

</html>